.footer{
    padding-top: 0%;
    padding-left: 13%;
    padding-right: 13%;
}
footer{
    width: fit-content;
}
a{
    padding: 0%;
}
.nav-link{
    padding: 0%;
}
.footer a{
    margin-top: 0%;
    padding: 0%;
    margin: 0%;
    color: black;
padding: 0rem 0;
}
footer a {
margin-top: 0%;
color: black;
display: block;
}
.footer a:hover {
    margin-top: 0%;
    color: black;
    display: block;
    }